h1{
    font-size: 30px;
    font-weight: 100px;
    font-family: 'Courier New';
    font-style: italic;
    color: plum;
}
h2{
    font-size: 30px;
    font-weight: 100px;
    font-family: 'Courier New';
    font-style: italic;
    color: plum;
}